/*菜单选择效果*/
.select {
    @apply font-bold;
}

/*sm宽度下的菜单按钮及动画*/
.sm_menu {
    div {
        @apply w-full rounded-sm;
        height: 2px;
        transition: transform 500ms, display 500ms;
        transform-origin: 0 1.2px;
    }
}
.div1 {
    transform: rotate(45deg);
}
.div2 {
    @apply hidden;
}
.div3 {
    transform: rotate(-45deg);
}
