<%#
归档.

局部变量:
  isIndex: 是否是首页,首页页直接嵌入归档,但是首页的显示方式与独立的归档页显示方式不同
%>

<section class="outer">
    <article class="articles">
        <%
        var title = '';
        if (page.category) title = page.category;
        if (page.tag) title = "#" + "&nbsp" + page.tag;
        if (page.archive) {
            if (page.year) title = page.year + (page.month ? '/' + page.month : '');
            else title = __('archive_a');
        }
        /* 非首页下显示标题(归档) */
        if (!isIndex){ %>
            <h1 class="page-type-title"><%- title %></h1>
        <% }
        if (isIndex){
            page.posts.each(function(post){ %>
                <%- partial('article', { post, isIndex: true }) %>
            <% })
        } else { %>
            <div class="archives-wrap">
                <% if (page.posts.length) { %>
                <div class="archives">
                    <%
                    let beforeYear // 记录上一篇文章的年份
                    page.posts.each(function(post){
                        const nowYear = post.date.year();
                        %>
                        <%- partial('archive-post', { post, year: beforeYear !== nowYear ? nowYear : null }) %>
                        <%
                        beforeYear = nowYear;
                    })
                    %>
                </div>
                <% } %>
            </div>
    <% } %>
    </article>

    <% if (page.total > 1){ %>
        <nav class="page-nav">
            <%
                var prev_text = theme.nav_text.page_prev;
                var next_text = theme.nav_text.page_next
            %>
            <%- paginator({
                prev_text: prev_text,
                next_text: next_text
            }) %>
        </nav>
    <% } %>
</section>
