<% if (page.categories && page.categories.length){ %>
  <div class="article-category">
    <%- list_categories(page.categories, {
      show_count: false,
      class: 'article-category',
      style: 'none',
      separator: ' / '
    }) %>
  </div>
<% } %>
