<% if (page.photos && page.photos.length){ %>
  <div class="article-gallery">
    <div class="article-gallery-photos">
      <% page.photos.forEach(function(photo, i){ %>
        <% if (index){ %>
          <a class="article-gallery-img" href="<%- url_for(page.path) %>" rel="gallery_<%= page._id %>">
            <img src="<%- url_for(photo) %>" itemprop="image">
          </a>
        <% } else { %>
          <img src="<%- url_for(photo) %>" itemprop="image">
        <% } %>
      <% }) %>
    </div>
  </div>
<% } %>
