@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'antd/dist/reset.css';

/* 重写 @tailwind base; 中的样式 (目前，如果不重置 svg 则会导致公式换行问题) */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: initial;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  display: inline;
}

.global-scrollblock {
  position: fixed;
  width: 100%;
  overflow-y: hidden;
}