/*轮播图*/
.carousel:hover .customer {
    display: grid;
}
.item {
    transition: opacity 1500ms;
}
.show {
    @apply opacity-100;
}
.hidden {
    @apply opacity-0;
    pointer-events: none;
}
/*指示小圆点*/
.bullet {
    @apply flex absolute bottom-3;
    li {
        @apply h-3 w-3 inline-block m-1 rounded-full cursor-pointer;
    }
}
/*切换按钮*/
.customer {
    @apply absolute items-center cursor-pointer h-full w-0;
    display: none;
    >div {
        @apply block text-7xl h-10 w-6 z-10 opacity-60;
        background-repeat: no-repeat;
    }
}
.prev {
    @apply left-1;
    >div {
        background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    }
}
.next {
    @apply right-7;
    >div {
        background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    }
}
