<%#
  首页.
  每个主题至少都应包含一个 index(首页) 模板
%>

<%# 首页第一页大图 %>
<%- partial('_partial/ayer') %>

<div id="main">
  <%# 公告 %>
  <% if (theme.broadcast.enable){ %>
  <div class="outer">
    <%- partial('_partial/broadcast') %>
  </div>
  <% } %>

  <%# 直接显示归档 %>
  <%- partial('_partial/archive', {isIndex: true}) %>
</div>
