.content {
  h1, h2, h3, h4, h5, h6 {
    color: rgb(64, 128, 255);
    letter-spacing: 2px;
    text-align: left;
    text-indent: 0;
  }

  h1 {
    margin: 15px 0 10px 0;
    line-height: 2em;
    font-size: 24px;
  }

  h2 {
    margin: 10px 0 10px 0;
    line-height: 2em;
    font-size: 22px;
  }

  h3 {
    margin: 10px 0 5px 0;
    line-height: 2em;
    font-size: 20px;
  }

  h4 {
    margin: 10px 0 5px 0;
    line-height: 2em;
    font-size: 17px;
  }

  h5, h6 {
    margin: 10px 0 5px 0;
    line-height: 1.5em;
    font-size: 16px;
  }

  p {
    @apply tracking-widest leading-loose;
    font-size: 16px;
    text-indent: 0;
    margin: 5px 0;
  }

  a {
     text-decoration: underline;
  }

  hr {
    @apply border-gray-400
  }

  blockquote {
    @apply text-gray-500 pl-4 pr-2;
    border-left: 4px solid #dfe2e5;
  }
  ol, ul {
    list-style: inherit;
  }
  ol>li {
    counter-increment: item;
    &::marker {
      unicode-bidi: isolate;
      font-variant-numeric: tabular-nums;
      text-transform: none;
      text-indent: 0 !important;
      text-align: start !important;
      text-align-last: start !important;
      content: counter(item)".  ";
    }
  }
  li {
    @apply mb-2;
  }

  // -----------------------------

  :root {
    --side-bar-bg-color: #fafafa;
    --control-text-color: #777;
  }

  html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
  }

  body {
    font-family: "Open Sans","Clear Sans", "Helvetica Neue", Helvetica, Arial, 'Segoe UI Emoji', sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.6;
  }

  a {
    color: #4183C4;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
  }
  h1:hover a.anchor,
  h2:hover a.anchor,
  h3:hover a.anchor,
  h4:hover a.anchor,
  h5:hover a.anchor,
  h6:hover a.anchor {
    text-decoration: none;
  }
  h1 tt,
  h1 code {
    font-size: inherit;
  }
  h2 tt,
  h2 code {
    font-size: inherit;
  }
  h3 tt,
  h3 code {
    font-size: inherit;
  }
  h4 tt,
  h4 code {
    font-size: inherit;
  }
  h5 tt,
  h5 code {
    font-size: inherit;
  }
  h6 tt,
  h6 code {
    font-size: inherit;
  }
  h1 {
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
  }
  h2 {
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.43;
  }
  h4 {
    font-size: 1.25em;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: 1em;
    color: #777;
  }
  p,
  blockquote,
  ul,
  ol,
  dl,
  table{
    margin: 0.8em 0;
  }
  li>ol,
  li>ul {
    margin: 0 0;
  }
  hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
  }

  li p.first {
    display: inline-block;
  }
  ul,
  ol {
    padding-left: 30px;
  }
  ul:first-child,
  ol:first-child {
    margin-top: 0;
  }
  ul:last-child,
  ol:last-child {
    margin-bottom: 0;
  }
  blockquote blockquote {
    padding-right: 0;
  }
  table {
    padding: 0;
    word-break: initial;
  }
  table tr {
    border: 1px solid #dfe2e5;
    margin: 0;
    padding: 0;
  }
  table tr:nth-child(2n),
  thead {
    background-color: #f8f8f8;
  }
  table th {
    font-weight: bold;
    border: 1px solid #dfe2e5;
    border-bottom: 0;
    margin: 0;
    padding: 6px 13px;
  }
  table td {
    border: 1px solid #dfe2e5;
    margin: 0;
    padding: 6px 13px;
  }
  table th:first-child,
  table td:first-child {
    margin-top: 0;
  }
  table th:last-child,
  table td:last-child {
    margin-bottom: 0;
  }

  code,
  tt {
    border: 1px solid #e7eaed;
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 2px 4px 0 4px;
    font-size: 0.9em;
  }

  code {
    background-color: #f3f4f4;
    padding: 0 2px 0 2px;
  }

  @media print {
    html {
      font-size: 13px;
    }
    table,
    pre {
      page-break-inside: avoid;
    }
    pre {
      word-wrap: break-word;
    }
  }
}
