// 文章标题
.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.content {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: rgb(75, 75, 75);
    letter-spacing: 2px;
    text-align: left;
    text-indent: 0;
    @apply font-bold;
  }

  h1 {
    margin: 15px 0 10px 0;
    line-height: 2em;
    font-size: 24px;
  }

  h2 {
    margin: 10px 0 10px 0;
    line-height: 2em;
    font-size: 22px;
  }

  h3 {
    margin: 10px 0 5px 0;
    line-height: 2em;
    font-size: 20px;
  }

  h4 {
    margin: 10px 0 5px 0;
    line-height: 2em;
    font-size: 17px;
  }

  h5,
  h6 {
    margin: 10px 0 5px 0;
    line-height: 1.5em;
    font-size: 16px;
  }

  p {
    @apply tracking-widest leading-loose;
    @apply break-all; // 强制换行，否则长单词会导致布局混乱
    @apply whitespace-pre-wrap; // 保留元素中的换行和空格。文本将被正常包装。
    font-size: 16px;
    text-indent: 0;
    margin: 5px 0;
  }

  a {
    @apply break-all; // 强制换行，否则长单词会导致布局混乱
    text-decoration: underline;
  }

  hr {
    @apply border-gray-400
  }

  blockquote {
    @apply text-gray-500 pl-4 pr-2;
    border-left: 4px solid #dfe2e5;
  }

  ol,
  ul {
    list-style: inherit;
    padding-left: 20px;
  }

  ol>li {
    counter-increment: item;

    &::marker {
      unicode-bidi: isolate;
      font-variant-numeric: tabular-nums;
      text-transform: none;
      text-indent: 0 !important;
      text-align: start !important;
      text-align-last: start !important;
      content: counter(item)".  ";
    }
  }

  li {
    @apply mb-2;
  }

  // 将图片样式设置为内联
  img {
    display: inline;
  }

  /* #region 表格样式 */

  table {
    width: 100%;
    text-align: start;
    border-radius: 8px 8px 0 0;
    border-collapse: separate;
    border-spacing: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    margin-bottom: .75rem;
  }

  table tr:first-child *:first-child {
    border-top-left-radius: 8px;
  }

  table tr:first-child *:last-child {
    border-top-right-radius: 8px;
  }

  table tr:hover {
    background: #f6f6f6;
  }

  table tr th {
    position: relative;
    color: rgba(0, 0, 0, 0.88);
    font-weight: 600;
    text-align: start;
    background: #f6f6f6;
    border-bottom: 1px solid #f0f0f0;
    transition: background 0.2s ease;
    padding: 16px 16px;
    overflow-wrap: break-word;
  }

  table tr td {
    transition: background 0.2s, border-color 0.2s;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
    padding: 16px 16px;
    overflow-wrap: break-word;
  }

  // 深色主题
  @media (prefers-color-scheme: dark) {
    table {
      color: rgba(255, 255, 255, 0.85);
      background: #5252522d;
    }

    table tr:hover {
      background: #1d1d1d9c;
    }

    table tr th {
      color: rgba(255, 255, 255, 0.85);
      background: #1d1d1d9c;
      border-bottom: 1px solid #303030;
    }

    table tr td {
      border-bottom: 1px solid #303030;
    }
  }

  /* #endregion */

  // -----------------------------

  @media print {
    html {
      font-size: 13px;
    }

    table,
    pre {
      page-break-inside: avoid;
    }

    pre {
      word-wrap: break-word;
    }
  }
}