// 文章标题
.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.content {
  h1, h2, h3, h4, h5, h6 {
    color: rgb(75, 75, 75);
    letter-spacing: 2px;
    text-align: left;
    text-indent: 0;
    @apply font-bold;
  }

  h1 {
    margin: 15px 0 10px 0;
    line-height: 2em;
    font-size: 24px;
  }

  h2 {
    margin: 10px 0 10px 0;
    line-height: 2em;
    font-size: 22px;
  }

  h3 {
    margin: 10px 0 5px 0;
    line-height: 2em;
    font-size: 20px;
  }

  h4 {
    margin: 10px 0 5px 0;
    line-height: 2em;
    font-size: 17px;
  }

  h5, h6 {
    margin: 10px 0 5px 0;
    line-height: 1.5em;
    font-size: 16px;
  }

  p {
    @apply tracking-widest leading-loose;
    @apply break-all; // 强制换行，否则长单词会导致布局混乱
    @apply whitespace-pre-wrap; // 保留元素中的换行和空格。文本将被正常包装。
    font-size: 16px;
    text-indent: 0;
    margin: 5px 0;
  }

  a {
    @apply break-all; // 强制换行，否则长单词会导致布局混乱
    text-decoration: underline;
  }

  hr {
    @apply border-gray-400
  }

  blockquote {
    @apply text-gray-500 pl-4 pr-2;
    border-left: 4px solid #dfe2e5;
  }
  ol, ul {
    list-style: inherit;
  }
  ol>li {
    counter-increment: item;
    &::marker {
      unicode-bidi: isolate;
      font-variant-numeric: tabular-nums;
      text-transform: none;
      text-indent: 0 !important;
      text-align: start !important;
      text-align-last: start !important;
      content: counter(item)".  ";
    }
  }
  li {
    @apply mb-2;
  }
  // 将图片样式设置为内联
  img {
    display: inline;
  }
  table {
    display: block;
    overflow-x: auto;
  }

  // -----------------------------

  @media print {
    html {
      font-size: 13px;
    }
    table,
    pre {
      page-break-inside: avoid;
    }
    pre {
      word-wrap: break-word;
    }
  }
}
